#main{
  max-width: 30em;
  padding-left: 50px;
}

tr:nth-child(odd) {
  background-color: #ccc;
}

th {
  background-color: white;
  text-align: left;
}

blockquote {
  background-color: #faece2;
  border-left: 10px solid #f07300;
  margin: 1.5em 1em;
  padding: 0.5em 10px;
  padding-right: 2em;
}

blockquote p {
  display: inline;
}

div.source {
  padding-top: 1em;
  text-align: right;
  width: 100%;
}